.detail {
  gap: 1rem;
}

.left-side {
  flex-basis: 100%;
  width: 100%;
}

.image {
  aspect-ratio: 16/9;
  width: 100%;
  height: 400px;
  min-width: 200px;
  object-fit: cover;
}


@media (width >= 1024px) {
  .left-side {
    flex-basis: auto;
    width: auto;
  }
}
