.form {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.search {
  top: 0.5rem;
  z-index: 10;
  position: sticky;
  padding: 12px;
  border-radius: 28px;
  border: none;
  max-width: 400px;
  width: 100%;
  background: linear-gradient(0deg, rgb(208 188 255 / 11%), rgb(208 188 255 / 11%)), #1C1B1F;;
}